.card {
  border: 1px darkgray solid;
  background-color: white;
  padding: .75rem;
  border-radius: .5rem;
}

.summary {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
    overflow: hidden;
}

.star {
  --star-width: 1em;
    width: var(--star-width);
}
.flipped {
    transform: scaleX(-1);
    margin-left: calc(-1 * var(--star-width) - 1px);
}