.navbar-button {
    font-family: Arial;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #ffffff;
    padding: 0;
    border: none;
    background: none;
}
.navbar-button:hover {
    text-decoration: underline;
    color: #0FA0CE;
}

.modal {
    border: 0;
    box-shadow: 0 0 1em black;
}

.modal::backdrop {
    background: rgb(0 0 0 / .3);
}

.button-warning {
    background-color: #ffcc33;
    color: #000000;
}

.flex {
    display: flex;
}
.justify-end {
    justify-content: flex-end;
}
.flex-gap {
    gap: 1rem;
}

.border-warning {
    border: 1px solid rgb(100% 80% 20%) !important;
    background-color: rgb(255 242 204) !important;
}

.text-error {
    color: rgb(149, 34, 34);
}

button:disabled, .button:disabled, .button-primary:disabled {
    cursor: not-allowed;
    background-color: rgb(129, 129, 129) !important;
}

.mb-0 {
    margin-bottom: 0!important;
}

.header {
    background-image: url("/images/back.png"); /* fallback */
    background-position: center;
    padding: 7rem;
    /* height of navbar, TODO: variable */
    margin-top: 6.45rem;
}

.footer {
    margin-top: 0;
    padding-top: 1em;
    padding-bottom: 1em;
}

.logo {
    padding: unset;
}

.navbar-list :first-child {
    margin-left: 1rem;
}

.header-logo {
    /* TODO: using max-height breaks svg? */
    height: 7rem;
    width: auto;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: .5rem;
}