/* ==========================================================================
 * General
 * ==========================================================================*/

@import url(https://fonts.googleapis.com/css?family=Thasadith);
@import "styles/constants.scss";

code {
    font-size: 0.7em;
}

.section {
    padding-top: 100px;
}

.footer {
    background-color: rgb(38, 39, 39);
    color: #FFFFFF;
    padding-top: 50px;
    margin-top: 50px;
}

.footer li {
    list-style: none;
    position: relative;
    margin-bottom: 0; 
    padding: 0.2em;
}

.footer span {
    margin-right: 5px;
}

.footer a {
    text-decoration: none;
}


/* Navbar logo */

.logo {
    text-align: right;
    padding-top: 0.25rem;
}

.logo img,
.footer .logo {
    height: 5.5rem;
}

/* Header */

.header {
    background: #212651;
    //background-image: url("/images/network.png"); /* fallback */
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    color: #ffffff;
    padding-bottom:250px;
    font-weight: bold;
}

.deep-picture {
    position: relative;
    width: 80%;
}

.entry-title {
    width: 100%;
    font-size: 2em;
}

/* Navbar */
.navbar {
    display: block; 
}
.navbar {
    border-top-width: 0; 
}
.navbar, 
.navbar-spacer {
    display: block;
    width: 100%;
    height: $navbar-height;
    background-color: rgb(38, 39, 39);
    z-index: 99;
    position: fixed;
    left: 0;
    top: 0;
}
.navbar-spacer {
    display: none; 
}
.navbar > .container {
    width: 100%; 
}
.navbar-list {
    list-style: none;
    margin-bottom: 0; 
}
.navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0; 
}
.navbar-link {
    font-family: Arial, serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #ffffff; 
}
.navbar-link.active {
    color: #33C3F0; 
}
.has-docked-nav .navbar {
    position: fixed;
    top: 0;
    left: 0; 
}
.has-docked-nav .navbar-spacer {
    display: block; 
}
/* Re-overiding the width 100% declaration to match size of % based container */
.has-docked-nav .navbar > .container {
    width: 80%; 
}

/* Images */
main {
    margin-top: 4em;
    margin-bottom: 4em;
    border-radius: 0.5rem;
    padding: 2em;
}

input, select, textarea {
    width: 100%;
}

.button, button {
    background-color: white;
}