body {
    background-color: #0a97b0;
}

main {
    margin-top: 4em;
    margin-bottom: 4em;
    border-radius: 0.5rem;
    background-color: white;
    padding: 2em;
    box-shadow: 0 0 2rem #333;
}

input, select, textarea {
    border: 0.1rem solid #ccc;
    border-radius: 0.25rem;
}

input:hover, select:hover, textarea:hover {
    border: 1px solid #095484;
}

input, select, textarea {
    width: 100%;
}

.item {
    position: relative;
    margin: 10px 0;
}

/*
input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

.item i, input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    font-size: 20px;
    color: #a9a9a9;
}
 */

.item i {
    right: 2%;
    top: 30px;
    z-index: 1;
}

[type="date"]::-webkit-calendar-picker-indicator {
    right: 1%;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}

/*
.btn-block {
    margin-top: 20px;
    text-align: center;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
*/
.button:hover {
    background-color: #f6cd61;
}

pre, blockquote, dl, figure, table, p, ul, ol, form {
    margin-bottom: 0;
}